@-webkit-keyframes lol {
    /*0%  { -webkit-transform: translate3d(0px, 0px, 0); }
    50% { -webkit-transform: translate3d(100px, 100px, 0); }
    100%  { -webkit-transform: translate3d(0px, 0px, 0); }*/
    0% {
    	top: 25%;
    	left: 10%;
    }
    10% {
    	top: 10%;
    	left: 20%;
    }
    30% {
    	top: 15%;
    	left: 30%;
    }
    40% {
    	top: 50%;
    	left: 40%;
    }
    50% {
    	top: 45%;
    	left: 50%;
    }
    60% {
		top: 40%;
		left: 55%;
    }
    70% {
    	top: 45%;
    	left: 60%;
    }
    80% {
    	top: 50%;
    	left: 65%;
    } 
    90% {
    	top: 45%;
    	left: 70%;
    }
    100% {
    	top: 50%;
    	left: 75%;
    }

}
#lol_animation video, #angry_animation video {
	height: 240px;
	width: 320px;
}
#lol_animation {
	/*width: 25%;
	height: 25%;*/
	position: absolute;

	/*left: 10%%;
	top: 25%;*/
    /*-webkit-animation: movement 5s linear infinite;*/
    -webkit-animation-name: lol;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes angry {
	0% {
		height: 240px;
		width: 320px;
		top: 25%;
		left: 25%;
	}
	50% {
		height: 360px;
		width: 480px;
		top: 25%;
		left: 25%;
	}
}

#angry_animation video {
	position: absolute;
	top: 25%;
	left: 25%;
	-webkit-animation-name: angry;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-iteration-count: 6;
	-webkit-animation-timing-function: ease-in;

}
